<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572517904400-1m3a7o7in2g77lbtk7nphefeg2ojrai2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572517904400-1m3a7o7in2g77lbtk7nphefeg2ojrai2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572517904400-fiu2tghslva69b5l9oi14vgf5gs1qaii.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArt_AwOdB_-FobbmekDu73GUFtza6dTso</string>
	<key>GCM_SENDER_ID</key>
	<string>572517904400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cambodianinvestorscorporation.pre</string>
	<key>PROJECT_ID</key>
	<string>cic-app-7ca9d</string>
	<key>STORAGE_BUCKET</key>
	<string>cic-app-7ca9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572517904400:ios:1a8192e6db29987e1a1a95</string>
</dict>
</plist>